@font-face {
    font-family: airbnb-1;
    src: url(../../assets/fonts/Airbnb_Cereal-Book.e849748a.woff2);
}
@font-face {
    font-family: airbnb-2;
    src: url(../../assets/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}
@font-face {
    font-family: airbnb-bold;
    src: url(../../assets/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}
@font-face {
    font-family: airbnb-3;
    src: url(../../assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2);
}
@font-face {
    font-family: airbnb-4;
    src: url(../../assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
}
