input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
//   .date-list {
//     height: 100%;
//     justify-content: center;
//   }

// .main-filter  .main-time-picker {
//   .el-input__inner {
//     position: relative;
//     -webkit-appearance: none;
//     background-color: #ffffff00;
//     /* background-color: var(--el-input-bg-color,var(--el-fill-color-blank)); */
//     background-image: none;
//     border-radius: var(
//       --el-input-border-radius,
//       var(--el-border-radius-base)
//     );
//     font-family: Cereal-Regular;
//     /* box-sizing: border-box; */
//     /* color: var(--el-input-text-color,var(--el-text-color-regular)); */
//     /* display: inline-block; */
//     font-size: inherit;
//     height: 32px;
//     line-height: 32px;
//     /* outline: 0; */
//     padding: 0 11px;
//     transition: var(--el-transition-box-shadow);
//     width: 100%;
//     /* box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color)) inset; */
//     border: none;
//     box-shadow: none;
//   }
//   .el-input__inner:hover {
//     box-shadow: none !important;
//   }
//   .el-date-table td.end-date .el-date-table-cell__text,
//   .el-date-table td.start-date .el-date-table-cell__text {
//     font-family: Cereal-Regular;
//     background-color: #222222;
//   }

//   .el-date-editor .el-range-separator {
//     font-family: Cereal-Regular;
//     flex: 1;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     padding: 0 5px;
//     margin: 0;
//     font-size: 14px;
//     word-break: keep-all;
//     color: var(--el-text-color-primary);
//     border-right: 0.1px solid #e1e1e1;
//     /* border-block-start-color: red; */
//     margin-right: 68px;
//     margin-left: -62px;
//   }

//   .el-date-editor .el-range__close-icon--hidden {
//     opacity: 2px;
//     /* visibility: hidden; */
//     margin-left: -70px;
//   }
//   r .el-date-editor .el-range__close-icon {
//     font-size: 14px;
//     color: var(--el-text-color-placeholder);
//     height: inherit;
//     width: unset;
//     cursor: pointer;
//     box-shadow: none !important;
//   }
//   .el-date-editor .el-range__icon svg {
//     vertical-align: middle;
//     visibility: collapse;
//   }

//   .el-date-editor .el-range__close-icon:hover {
//     font-size: 14px;
//     color: var(--el-text-color-placeholder);
//     height: inherit;
//     width: unset;
//     cursor: pointer;
//     margin-left: -70px;
//     box-shadow: none !important;
//   }

//   .el-range-editor.is-active:hover {
//     box-shadow: none !important; /* box-shadow: 0 0 0 1px var(--el-input-focus-border-color) inset; */
//   }
//   .el-range-editor.is-active {
//     box-shadow: none !important;
//   }

//   .el-range-editor.is-active:hover {
//     box-shadow: none !important;
//   }
//   .el-popper {
//     font-family: Cereal-Regular;
//     position: inherit;
//     border-radius: var(--el-popper-border-radius);
//     padding: 5px 11px;
//     z-index: 2000;
//     font-size: 12px;
//     line-height: 20px;
//     /* min-width: 10px; */
//     word-wrap: break-word;
//     visibility: visible;
//     min-width: 900px;
//     min-height: 538px;
//     margin-top: 30px;
//   }

//   .el-date-range-picker .el-picker-panel__body {
//     font-family: Cereal-Regular;
//     min-width: 59vw;
//     padding: 27px;
//     margin-top: 71px;
//     /* max-height: 100%; */
//   }

//   .el-date-range-picker__header {
//     font-family: Cereal-Regular;
//     position: relative;
//     text-align: center;
//     height: 20px;
//     font-size: 16px;
//     font-weight: 600;
//     // margin-bottom: 19px;
//     padding-bottom: 44px;
//     color: #222222;
//     // padding-bottom: 30;
//     padding-bottom: 44px;
//   }

//   .el-date-range-picker__header div {
//     font-family: Cereal-Regular;
//     font-size: 16px;
//     font-weight: 600;
//     margin-right: 50px;
//   }

//   .el-date-table {
//     font-family: Cereal-Regular;
//     font-size: 16px;
//     -webkit-user-select: none;
//     user-select: none;
//     line-height: 20px;
//     padding-right: 20px;
//     padding-right: 20px;
//     text-align: center;
//     color: #222222;
//   }
//   .el-date-table th {
//     font-size: 12px;
//     font-family: Cereal-Regular;
//     padding: 5px;
//     line-height: 20px;
//     /* top: var(--el-datepicker-header-text-color); */
//     font-weight: 400;
//     border-bottom: solid 1px var(--el-border-color-lighter);
//     top: 62px;
//     color: #757575;
//   }

//   .el-date-table td.available:hover {
//     color: #484848;
//   }

//   .el-date-table
//     td
//     .input-container
//     .el-date-table-cell
//     .input-container
//     .el-date-table-cell__text {
//     font-family: Cereal-Regular;
//     width: 30px;
//     height: 30px;
//     display: block;
//     margin: 0 auto;
//     font-size: 14px;
//     line-height: 30px;
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     border-radius: 50%;
//     font-weight: 600;
//     text-align: center;
//   }

//   .el-date-range-picker__content.is-left {
//     /* padding: 24px; */
//     border-right: none;
//   }

//   .el-date-table th {
//     font-family: Cereal-Regular;
//     font-size: 12px;
//     padding: 5px;
//     line-height: 20px;
//     /* top: var(--el-datepicker-header-text-color); */
//     font-weight: 400;
//     border-bottom: 0px;
//     top: 62px;
//     color: #757575;
//   }

//   .el-picker__popper.el-popper[role="tooltip"] {
//     font-family: Cereal-Regular;
//     background: var(--el-color-white);
//     border: 1px solid var(--el-datepicker-border-color);
//     box-shadow: var(--el-box-shadow-light);
//     top: 175px;
//   }

//   .el-date-editor .el-range-input {
//     -webkit-appearance: none;
//     appearance: none;
//     border: none;
//     outline: 0;
//     display: inline-block;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     width: 39%;
//     text-align: center;
//     font-size: var(--el-font-size-base);
//   }

//   .el-date-editor .el-range-input::placeholder {
//     color: #222222;
//   }

//   .el-date-table td .el-date-table-cell {
//     height: 45px;
//     padding: 3px 0;
//     box-sizing: border-box;
//   }

//   .el-date-table td.in-range .el-date-table-cell {
//     background-color: #f7f7f7;
//   }
// }
