.main-layout2.home-page {
  margin-top: 0;
}

.main-hero {
  margin-top: 0px;
  background-image: url(https://res.cloudinary.com/yonatan-cajan22/image/upload/v1648137206/airyny/mainPic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 66vh;
  text-align: center;
  background-position: 50%;
  margin-bottom: 96px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.flexible {
  margin-bottom: 73px;

  width: 162px;
  height: 58px;
  background: #fff;
  border-radius: 1000px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12) !important;
  border: none;
}
.main-hero .flexible h3 {
  margin: 0;
  text-align: center;
  padding: 0px 2px;

  font-size: 18px;
  background: -webkit-linear-gradient(
    90deg,
    #6f019c,
    #c6017e 135.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-hero h1 {
  white-space: pre-line;
  max-width: 100%;
  font-size: var(--tl-font-size, 32px);
  font-weight: var(--tl-font-weight, 800);
  letter-spacing: var(--tl-letter-spacing, 0em);
  line-height: var(--tl-line-height, 36px);
  color: #fff;
  -webkit-line-clamp: var(--tl-line-clamp);
}
.host-container {
  background-image: url(https://res.cloudinary.com/yonatan-cajan22/image/upload/v1648198618/airyny/hostPicMain.jpg);
  background-position: 50%;
  background-size: cover;
  height: 90vh;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;

  padding: 80px;
}

.host-container h1 {
  color: #fff;
  font-size: 48px;
  margin: 0;
  margin-top: 142px;
  font-family: airbnb1;
}

.host-container button {
  flex-direction: row;
  // margin-top: 10px;
  // margin-bottom: -75px;
  margin-bottom: 0px;
  justify-self: flex-end;
  font-family: inherit;
  border: none;
  color: #222;
  background-color: #fff;
  padding: 14px 24px;
  border-radius: 8px;
  max-width: 170px;
}

.host-container button .host-btn-txt {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  max-width: 100%;
}
