.home-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(310px, 1fr)
  );
  // column-gap: 24px;
  // row-gap: 20px;
  gap: 23px;
}

.popular-dest-list {
  padding: 0px;
  margin-bottom: 68px;
}

.home-card {
}
.home-card-img {
  grid-template-columns: repeat(4, 1fr);
  border-radius: 12px;
}

.popular-header {
  font-size: 33px;
  line-height: 47px;
  margin-top: 0px;
  margin-bottom: 18px;
}

.country-name {
  margin-top: 15px;
  line-height: 26px;
  padding: 0px;
  font-size: 23px;
}

.unique-dest-list {
  margin-top: 140px;
  margin-bottom: 157px;
}
