.main-layout2.home-page {
  margin-top: 0;
}

.main-hero {
  margin-top: 0px;
  background-image: url(https://res.cloudinary.com/yonatan-cajan22/image/upload/v1648137206/airyny/mainPic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  text-align: center;
  background-position: 50%;
  margin-bottom: 96px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.host-container {
  background-image: url(https://res.cloudinary.com/yonatan-cajan22/image/upload/v1648139062/airyny/hostpic.jpg);
  background-position: 50%;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
