.home-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );
  gap: 25px;

  // .dist-country {
  //   font-family: Cereal-Regular;
  //   color: white;
  //   line-height: 20px;
  //   font-size: 15px;
  //   font-weight: 400;
  //   margin-left: rem(18px);
  // }
}

.popular-dest-list {
  padding: 0px;
  margin-bottom: rem(68px);

  .popular-header {
    font-family: Cereal-Regular;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -0.66px;
    line-height: 47px;
    margin-top: -1px;
    margin-bottom: rem(48px);
  }
}
.home-card {
  // grid-template-columns: repeat(4, 1fr);
  // background-color: #ff385c;
  // border-radius: 12px !important;
  // font-family: Cereal-Regular;
  cursor: pointer;
  position: relative;

  .home-img {
    border-radius: 12px;
    height: 50vh;
    object-fit: cover;
    border-bottom: 0px;
    max-height: 450px;
  }

  .country-name {
    font-family: Cereal-Regular;
    text-align: start;
    white-space: pre-line;
    font-size: 27px;
    letter-spacing: -0.27px;
    line-height: 30px;
    margin-top: 17px;
    color: white;
    margin-left: rem(18px);
  }
  .popular {
    padding-top: 5px;
  }
  @include for-wide-layout {
  }
}
.txt-container {
  position: absolute;
  bottom: 5px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  background-color: #05050566;
  // border-radius: 12px !important;
  font-family: Cereal-Regular;
  padding-bottom: 5px;
  // border-radius: 12px !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  .dist-country {
    font-family: Cereal-Regular;
    color: white;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-left: rem(18px);
  }
}
.unique-dest-list {
  margin-top: rem(92px);
  margin-bottom: rem(106px);

  .country-name {
    margin-bottom: 10px;
  }
}
