.irs-line {
  background-color: none !important;
}
.irs-to {
  display: none !important;
}
.irs-with-grid .irs-grid {
  display: none;
}
.irs--round .irs-from,
.irs--round .irs-single,
.irs--round .irs-to.irs-form {
  display: none !important;
}

span.irs-bar {
  line-height: 3px !important;
}

.irs--round .irs-line {
  top: 36px;
  //   height: var(--line-height);
  /* background-color: var(--holder-color); */
  //   border-radius: var(--line-height);
}
