.home-page-pic {
  width: 1361px;
  height: 682px;
  top: 699px;
  bottom: 1381px;
  left: 79px;
  right: 1440px;
  border-radius: 12px !important;
}

// height: 518px;
// width: 1033px;
// top: 637px;
// bottom: 1155px;
// right: 1113px;
// left: 80px;
