.main-layout {
  padding-left: rem(80px);
  padding-right: rem(80px);
}

.main-layout2 {
  margin-top: 175px;
  display: grid;
  // grid-template-columns: 80px 1fr 80px;
  padding-left: rem(80px);
  padding-right: rem(80px);
}

.main-layout3 {
  display: grid;
  padding-left: rem(80px);
  padding-right: rem(80px);

  > * {
    grid-column: 2;
  }

  > *.full {
    grid-column: 1 / -1;
  }

  > *:not(.full) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
  }
}
