    @media (max-width: 1128px) {
        .details-layout {
            max-width: 1120px;
            padding-left: rem(40px);
            padding-right: rem(40px);
        }
        .additional-amenities .amenities {
            flex-direction: column;
        }
        .reviews {
            flex-direction: column;
            .review:nth-child(even) {
                margin-inline-start: 0px;
            }
        }
    }
    
    @media (max-width: 949px) {}
    
    @media (max-width: 743px) {
        .checkout-area {
            .checkout {
                flex-direction: row;
                max-width: 100%;
                max-height: none;
                border-radius: 0px;
            }
            .fixed {
                top: unset;
                margin-top: 0rem;
                position: fixed;
                bottom: 0px;
                z-index: 100;
                height: 5rem;
                justify-content: space-between;
                padding-left: rem(24px);
                padding-right: rem(24px);
                padding-top: rem(16px);
                padding-bottom: rem(16px);
                background-color: #fff;
                display: flex;
                flex-direction: row;
                width: -webkit-fill-available;
                left: 0px;
                .el-date-editor {
                    display: none;
                }
                .date-input {
                    display: none;
                }
                .guests-input {
                    display: none;
                }
            }
            .static {
                margin-top: 0rem;
                position: fixed;
                bottom: 0px;
                z-index: 100;
                height: 5rem;
                justify-content: space-between;
                padding-left: rem(24px);
                padding-right: rem(24px);
                padding-top: rem(16px);
                padding-bottom: rem(16px);
                background-color: #fff;
                display: flex;
                flex-direction: row;
                width: -webkit-fill-available;
                left: 0px;
                .el-date-editor {
                    display: none;
                }
                .date-input {
                    display: none;
                }
                .guests-input {
                    display: none;
                }
            }
            .static-second {
                margin-top: 0rem;
                position: fixed;
                bottom: 0px;
                z-index: 100;
                height: 5rem;
                justify-content: space-between;
                padding-left: rem(24px);
                padding-right: rem(24px);
                padding-top: rem(16px);
                padding-bottom: rem(16px);
                background-color: #fff;
                display: flex;
                flex-direction: row;
                width: -webkit-fill-available;
                left: 0px;
                .el-date-editor {
                    display: none;
                }
                .date-input {
                    display: none;
                }
                .guests-input {
                    display: none;
                }
            }
            .fixed-top {
                top: unset;
                margin-top: 0rem;
                position: fixed;
                bottom: 0px;
                z-index: 100;
                height: 5rem;
                justify-content: space-between;
                padding-left: rem(24px);
                padding-right: rem(24px);
                padding-top: rem(16px);
                padding-bottom: rem(16px);
                background-color: #fff;
                display: flex;
                flex-direction: row;
                width: -webkit-fill-available;
                left: 0px;
                .checkout-nav {
                    display: none;
                }
                .el-date-editor {
                    display: none;
                }
                .date-input {
                    display: none;
                }
                .guests-input {
                    display: none;
                }
            }
        }
    }
    
    @media (max-width: 375px) {}